body {
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 100%;
  height: 100vh;
}

.header {
  background-color: rgb(48, 48, 166);
  color: white;
  padding: 20px;
position: relative;
}



.titulo {
  text-align: left;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.menu {
  margin-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;

}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding: 10px;
  border: 0.5px solid #ffffff;
}

.menu li:hover{
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.submenu a {
  color: white;
}
.menu a {
  color: white;
}










.main {
  padding: 20px;
  text-align: center;
  margin: 20px color= black;
}

.submenu {
  background-color: rgb(8, 44, 115);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  max-width: 450px;
  margin: auto;
  border: 1.5px solid #000;
  flex-direction: column;
  position: absolute;
  top: 100%;
}

.submenu ul {
  padding: 10px;
  cursor: pointer;
  border: 0.5px solid #ffffff;
 
 
}



.franja-transparente{
  background-color: #2525a880;
  color: rgb(0, 0, 0);
  padding: 2px; 
  max-height: 12%; 
  max-width: 100%;
  text-align: center;
  margin: auto;
  border: 4% solid #000;
  
  border-radius: 3%;


}



.perfil {
  display: flex;
  justify-content: space-between;
  margin: 0px 0;
  border: 1px solid #000;
}

.datos-personales, .datos-adicionales {
  width: 50%;
  margin: 40px 0;
  background-color: white;
  color: black;
  

}

.perfil img {
  width: 200px;
  height: 100px;
  margin-top: 10px ;
  

}

.datos-personales h3 {
  margin-top: 0;
  margin: 30px 0;
  margin-left: 5px;

}


.datos-personales h5, .datos-adicionales h5 {
  margin: 40px 0;
  margin-top: 0;
  margin-inline-start: auto;
 
  
}

.div-horizontal {
  background-color: rgba(67, 132, 154, 0.5);
  color: #000;
  padding: 10px;
  text-align: center;
  max-height: 80px; 
  max-width: 1000px;
  text-align: center;
  margin: auto;
  border: 1.5px solid #000;
}

.div-horizontal ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

.div-horizontal li {
  padding: 20px;
  cursor: pointer;
  border: 1.5px solid #ffffff;
  justify-content: space-between;
max-width: 1100px;
margin: auto;

}

.div-horizontal li:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.cuadro {
  background-color: #f2f2f2;
  color: #000;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  max-width: 1000px;
  border: 1px solid #000;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  
}

.cuadro h4 {
  margin: 100;
  margin-bottom: 500px;
  background-color: rgba(67, 132, 154, 0.5);

}

.cuadro input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;

}

.h5historial{
  text-align: center;

}

.footer{
  text-align: center;
}